<div
  [ngClass]="[
    'flex flex-row items-center gap-1 border-[0.5px] py-1 px-2 rounded-lg',
    variant === 'secondary'
      ? 'border-slate-300 bg-slate-50 text-foreground'
      : '',
    variant === 'primary'
      ? 'border-primaryold-300 bg-primaryold-50 text-primary'
      : '',
  ]"
>
  <div [ngClass]="['font-normal text-sm text-inherit', contentContainerClass]">
    <ng-content></ng-content>
  </div>
  <button
    *ngIf="showClear"
    aria-label="clear"
    (click)="handleClear()"
    class="flex items-center"
  >
    <ng-icon
      name="heroXMark"
      color="#64748b"
      class=""
      size="0.875rem"
      strokeWidth="2px"
    ></ng-icon>
  </button>
</div>
