<div class="my-2">
  <label
    *ngIf="showLabel"
    [for]="elementId"
    class="block mb-2 text-sm font-medium text-muted-foreground"
    >{{ elementName }}
    <span class="text-destructive text-xs" *ngIf="required">*</span>
  </label>
  <textarea
    #textarea
    [id]="elementId"
    [rows]="rows"
    (input)="onChange($event.target)"
    class="block w-full p-2.5 border text-slate-900 text-sm rounded-lg focus-visible:ring-1 focus-visible:ring-primaryold-500 focus-visible:border-primary disabled:bg-slate-100 focus-visible:outline-none overflow-x-hidden overflow-y-auto"
    [placeholder]="elementPlaceHolder"
    [value]="value"
  ></textarea>
</div>
