<div class="my-1.5">
  <label
    [for]="elementId"
    class="block mb-1.5 text-sm font-medium text-muted-foreground"
    *ngIf="showLabel"
  >
    {{ elementName }}
    <span class="text-destructive text-xs" *ngIf="required">*</span>
  </label>
  <input
    [type]="elementType"
    [id]="elementId"
    (change)="onChange($event.target)"
    (keydown.enter)="onKeyDown()"
    [value]="value"
    [disabled]="isDisabled"
    class="flex items-center h-10 w-full rounded-md border border-input bg-transparent px-3 py-1 text-base shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 md:text-sm {{
      customClass
    }}"
    [placeholder]="elementPlaceHolder"
  />
</div>
