<div class="fixed bottom-4 right-4 z-50 flex flex-col-reverse gap-2">
  <div
    *ngFor="let toast of toasts"
    class="text-xs transition-opacity duration-300 ease-in-out"
    [ngClass]="{ 'opacity-100': toast.show, 'opacity-0': !toast.show }"
    (click)="removeToast(toast.id)"
    (keydown.enter)="removeToast(toast.id)"
    (keydown.space)="removeToast(toast.id); $event.preventDefault()"
  >
    <div
      class="w-72 p-4 rounded-lg border-[0.5px]"
      [ngClass]="{
        'bg-emerald-50 border-emerald-300 text-emerald-600':
          toast.type === 'success',
        'bg-red-50 border-red-300 text-destructive': toast.type === 'error',
        'bg-primaryold-50 border-primaryold-300 text-primary':
          toast.type === 'info',
        'bg-amber-50 border-amber-300 text-amber-600': toast.type === 'warning',
      }"
    >
      <div class="flex items-center overflow-hidden gap-2">
        <!-- Display the appropriate icon based on toast type -->
        <div class="flex items-center justify-center">
          <ng-icon
            [name]="
              toast.type === 'success'
                ? 'heroCheckCircle'
                : toast.type === 'error'
                  ? 'heroExclamationCircle'
                  : toast.type === 'warning'
                    ? 'heroExclamationTriangle'
                    : 'heroInformationCircle'
            "
            class="text-lg"
          />
        </div>
        <div class="w-full break-words" [innerHTML]="toast.message"></div>
      </div>
    </div>
  </div>
</div>
